.header {
    margin-bottom: 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-list__item:not(:last-child) {
    margin-right: 15px;
}

.nav-list__link {
    display: block;
    text-decoration: none;
    color: #2a2a2a;
    font-weight: 500;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;

    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-list__link.active {
    color: #e7410e;
}

.nav-list__link:hover,
.nav-list__link:focus {
    color: #dd8a0f;
}