.subtitle {
  margin-bottom: 15px;
  font-size: 22px;

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}

.codes-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.codes-list__item {
  font-size: 16px;

  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
}

.codes-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.codes-list__link {
    text-decoration: none;
    color: #000000;
    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.codes-list__link:hover,
.codes-list__link:focus {
    color: #e7410e;
}

